@import '../../assets/styles/index.scss';

.partnership {
  @extend %container;
  @extend %section;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.partnership__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 32px;
  line-height: 1.5;
}

.partnership__description {
  color: var(--item-list-color);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.partnership__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.partnership__block {
  background-color: #fff8ea;
  border-radius: 30px;
  padding: 30px 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partnership__image {
  margin: 0 auto;
  margin-bottom: 25px;
}
.partnership__subTitle {
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 25px;
}
.partnership__subDescription {
  color: var(--item-list-color);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.partnership__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: #f1ae00;
  border-radius: 18px;
  padding: 15px 25px;
}
.partnership__buttonBox {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .partnership__title {
    text-align: center;
  }
  .partnership__description {
    padding: 0 20px;
    font-size: 22px;
  }

  .partnership__blocks {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .partnership__block {
    margin: 0 20px;
    max-width: 370px;
    padding: 30px 25px;
  }
  .partnership__subDescription {
    font-size: 20px;
  }
}
