@import '../../assets/styles/index.scss';

.reviews {
  @extend %container;
  @extend %section;
  align-items: center;
  justify-content: center;
  background-color: #fff8ea;
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
.reviews__slider {
  width: 100%;
  height: 100%;
}
.reviews__swiperSlide {
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 100px;
  padding-bottom: 40px;
  border-radius: 30px;
}

.reviews__sliderLogo {
  margin: 0 auto;
  margin-bottom: 15px;
  height: 80px;
}
.reviews__review {
  color: var(--item-list-color);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
  text-align: left;
}
.reviews__authorBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 100px;
}
.reviews__sliderLogoMan {
  margin-left: 140px;
}
.reviews__logoCompany {
  width: 100px;
}
.reviews__jobTitle {
  font-size: 16px;
}
.swiper-container {
  --swiper-pagination-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .reviews__sliderLogoMan {
    margin-left: 0;
  }
  .reviews {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reviews__swiperSlide {
    padding: 30px 20px;
    padding-bottom: 60px;
  }
  .reviews__review {
    font-size: 22px;
  }
  .reviews__jobTitle {
    font-size: 18px;
  }
  .reviews__authorBlock {
    gap: 30px;
  }
  .reviews__swiperSlide {
    gap: 20px;
  }
  .swiper-container {
    --swiper-pagination-bottom: 30px;
  }
  .reviews__logoCompany {
    margin-bottom: 10px;
  }
}
