@import '../../assets/styles/index.scss';

.presence {
  @extend %container;
  @extend %section;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background: #fff8ea;
  padding-top: 50px;
  padding-bottom: 50px;
}

.presence__title {
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 32px;
  line-height: 1.5;
}

.presence__description {
  color: var(--item-list-color);
  font-size: 20px;
  line-height: 1.5;
}
