@import '../../assets/styles/index.scss';

.footer {
  @extend %container;
  @extend %section;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #fff8ea;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 32px;
  line-height: 1.5;
}
.footer__logo {
  border-radius: 10px;
  background-color: var(--main-background-color);
  text-decoration: none;
  padding: 10px 25px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
