@import '../../assets/styles/index.scss';

.benefits {
  @extend %container;
  @extend %section;
  padding-left: 18%;
  padding-right: 18%;
}

.benefits__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
.benefits__accentRed {
  color: #b03253;
  font-weight: 600;
}
.benefits__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-gap: 10px;
  justify-items: start;
  margin-bottom: 30px;
}
.benefits__blockReverse {
  justify-items: end;
}
.benefits__textBlock {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 15px;
}

.benefits__textBlock_reverse {
  order: 1;
}
.benefits__subTitle {
  text-transform: uppercase;
  color: var(--item-list-color);
  font-size: 24px;
  line-height: 1.5;
}

.benefits__text {
  text-transform: capitalize;
  color: var(--item-list-color);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

.benefits__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: left;
  text-decoration: none;

  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: #f1ae00;
  border-radius: 18px;
  padding: 15px 25px;
}
@media only screen and (max-width: 767px) {
  .benefits {
    padding-left: 0;
    padding-right: 0;
  }
  .benefits__image {
    display: none;
  }
  .benefits__block {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  .benefits__textBlock {
    padding: 0 20px;
  }
  .benefits__button {
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .benefits__buttonLast {
    margin-bottom: 0;
  }
  .benefits__subTitle {
    // margin: 0 auto;
    text-align: left;
  }
  .benefits__title {
    margin-bottom: 80px;
  }
}
